@import url('https://fonts.googleapis.com/css2? family= Montserrat:wght@300;400;700 & display=swap');

body{
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
    
    width: 100%;
    font-family: 'Montserrat', sans-serif;
}
.form{
    background-color: #a1c4fd;
    width: 90%;
    max-width: 400px;
    position: relative;
    left: 30%;
    border-radius: 1em;
    padding: 3.5em 1.5em;
    margin-top: 20px;
}
.form_container{
    width: 100%;
    display: grid;
    gap: 1em;
    grid-auto-columns: 100%;
}
.form_title{
    text-align: center;
    font-size: 1.9rem;
    margin-bottom: .4em;
}
.form_input{
    font-family: inherit;
    font-size: 1rem;
    padding: .8em 1em;
    outline: none;
    border: none;
    border: 1px solid #000;
}
.form_input--message{
    resize: none;
    padding: 1.8em 1em;
    margin-bottom: .5em;
}
.form_cta{
    font-family: inherit;
    background-color: #089fe0;
    color: #fff;
    border: none;
    font-weight: 400;
    padding: .7em 0;
    border-radius: .2em;
    cursor: pointer;
}

@media (max-width:480px){
    .form{
        background-color: #a1c4fd;
        width: 50%;
        max-width: 300px;
        position: relative;
        left: 15%;
        border-radius: 1em;
        padding: 3.5em 1.5em;
        margin-top: 20px;
    }

    .form_container{
        width: 100%;
        display: grid;
        gap: 1em;
        grid-auto-columns: 100%;}
    
}